@page "/AccessDenied"

<div class="alert alert-danger">Access Denied</div>

@code {
    // This component is used to display an access denied message when a user tries to access a page they are not authorized to view.
}