@inherits LayoutComponentBase
@using ManageInventoryNET.Components.Layout



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
    //Main layout adding login and logout buttons 
    //if user is logged in show logout button
    //if user is not logged in show login button
}